<!-- home.html -->
{% extends "master.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="card">
    <div>
        <h2>Bienvenue sur DND BETTERS</h2>
    </div>

    <div>
        <p>
        <h2>Plongez dans le monde de l'excitation des dés !</h2>
        <ul>
            <li>Lancez les Dés : Choisissez vos dés, définissez votre mise et lancez les dés virtuels pour déterminer
                votre
                destinée.</li>
            <li>Placez Vos Mises : Pensez-vous avoir la chance de votre côté ? Placez vos mises et regardez les dés
                tomber
                pour révéler votre fortune.</li>
            <li>Gagnez Gros : À chaque lancer, l'excitation monte alors que vous compétitionnez pour des récompenses
                épiques
                et
                gravissez les échelons de notre classement.</li>
        </ul>
        </p>
        <a href="#" class="btn">Règlement</a>
    </div>

    <div>
        <h2>Classement</h2>
        <p>Voyez comment vos compétences se comparent à la concurrence sur notre classement. Allez-vous grimper au
            sommet et
            revendiquer votre place parmi les légendes ?</p>
        <a href="#" class="btn">Classement</a>
    </div>


    <div>
        <h2>Rejoignez l'Aventure Aujourd'hui !</h2>
        <p>Prêt à embarquer dans votre prochaine aventure de jeu ? Inscrivez-vous maintenant et rejoignez l'excitation
            sur DND BETTERS. Les dés appellent – allez-vous répondre ?</p>

        <a href="#" class="btn">S'inscrire</a>
    </div>


</div>

{% endblock %}