<!-- login.html -->
{% extends "master.html" %}

{% block title %}
Rules
{% endblock %}

{% block content %}

<div class="card">
    <div>
        <h2>Les règles</h2>
    </div>
    <h2>Lancer de dé :</h2>
    <ul>
        <li>Lors d'un lancer de dé, un joueur lance un dé à 20 faces.</li>
        <li>Le dé détermine aléatoirement la compétence jugée.</li>
        <li>Le but est que le modificateur de compétence du joueur ajouté au chiffre du dé lancé soit supérieur à dix
            pour
            réussir l'action.</li>
        <li>Cette mécanique est similaire à celle utilisée dans le jeu de rôle Donjons et Dragons.</li>
    </ul>

    <h2>Partir à l'aventure :</h2>
    <ul>
        <li>Le joueur mise une partie de sa monnaie du jeu (pièces d'or) pour participer à une aventure.</li>
        <li>Le joueur choisit également une difficulté pour l'aventure.</li>
        <li>Le joueur lance une série de dés pour résoudre les différentes étapes de l'aventure.</li>
        <li>L'objectif est de survivre à l'aventure en réussissant les actions nécessaires.</li>
        <li>La difficulté choisie par le joueur détermine le multiplicateur appliqué à sa mise en cas de victoire.</li>
        <li>Le déroulement de cette aventure est similaire à une partie de Donjons et Dragons, où les dés sont utilisés
            pour
            résoudre les actions et les événements.</li>
    </ul>

    <h2>Explication des modificateurs dans Donjons et Dragons (D&D) :</h2>
    <p>Les modificateurs dans Donjons et Dragons (D&D) sont des valeurs qui représentent la compétence, l'habileté ou la
        capacité innée d'un personnage à accomplir certaines actions ou à résister à certaines situations. Voici comment
        ils
        sont calculés en fonction des caractéristiques du personnage :</p>

    <h3>1. Force (FOR) :</h3>
    <ul>
        <li>Détermine la puissance physique et la capacité à soulever des charges lourdes.</li>
        <li>Le modificateur de Force est calculé en soustrayant 10 de la valeur de Force du personnage, puis en divisant
            le
            résultat par 2 (arrondi à l'inférieur si nécessaire). Formule : (Force - 10) / 2.</li>
    </ul>

    <h3>2. Dextérité (DEX) :</h3>
    <ul>
        <li>Mesure l'agilité, la réactivité et la coordination du personnage.</li>
        <li>Le modificateur de Dextérité est calculé de la même manière que le modificateur de Force.</li>
    </ul>

    <h3>3. Constitution (CON) :</h3>
    <ul>
        <li>Représente la santé physique et la résistance aux maladies et aux blessures.</li>
        <li>Le modificateur de Constitution est calculé de la même manière que les modificateurs de Force et de
            Dextérité.
        </li>
    </ul>

    <h3>4. Intelligence (INT) :</h3>
    <ul>
        <li>Indique l'acuité mentale, la mémoire et la capacité à résoudre des problèmes complexes.</li>
        <li>Le modificateur d'Intelligence est calculé de la même manière que les autres modificateurs.</li>
    </ul>

    <h3>5. Sagesse (SAG) :</h3>
    <ul>
        <li>Reflète l'intuition, la perception et la sagesse pratique.</li>
        <li>Le modificateur de Sagesse est calculé de la même manière que les autres modificateurs.</li>
    </ul>

    <h3>6. Charisme (CHA) :</h3>
    <ul>
        <li>Représente le charme personnel, la force de persuasion et la capacité à influencer les autres.</li>
        <li>Le modificateur de Charisme est calculé de la même manière que les autres modificateurs.</li>
    </ul>

    <p>Ces modificateurs sont utilisés dans diverses situations de jeu, telles que les jets de dés pour les attaques,
        les
        compétences, les sauvegardes et d'autres actions. Ils contribuent à la probabilité de succès d'une action et à
        la
        narration du personnage dans le jeu.</p>

</div>

{% endblock %}