body {
  font-family: Arial, sans-serif;
  background-image: url("img/497449.jpg");
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #a32020;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@keyframes wavy {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

h1 span {
  display: inline-block;
}

h1 {
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: -4px; /* Adjust as needed */
}

nav {
  background-color: #800000;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  text-decoration: underline;
}

/* Forms */
form,
.card {
  background-color: #444;
  color: #fff;
  padding: 20px;
  border-radius: 8px;

  margin-bottom: 20px;
}

form .helptext {
  display: none;
}

form label {
  margin-bottom: 10px;
  display: block;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"],
form select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #777;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.ability-score {
  width: 10% !important;
  margin-right: 0;
  margin-bottom: 15px;
}

.ability-scores {
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.ability-score label {
  display: block;
  margin-bottom: 5px;
  width: fit-content;
}

.ability-score input {
  width: calc(100% - 10px);
  padding: 5px;
  border: 1px solid #777;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.submit-btn,
#roll-dice-button,
.btn {
  background-color: #a32020;
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4),
    inset 0 -2px 2px rgba(255, 255, 255, 0.2);
}

.submit-btn:hover,
#roll-dice-button:hover,
.btn:hover {
  background-color: #cc3333;
  transition: 0.3s;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6),
    inset 0 -2px 4px rgba(255, 255, 255, 0.3);
}

.center {
  text-align: center;
}

.card h2 {
  text-align: center;
}

.card table {
  width: 100%;
  table-layout: fixed;
}

.card td {
  width: 33%;
}

.card a {
  display: inline-block;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
}

.card > div {
  margin-bottom: 3rem;
}

.card > div:last-of-type {
  margin-bottom: 0;
}

.adventure {
  position: relative;
  #skill {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0;
  }
  #result {
    display: flex;
    justify-content: center;
  }
  #life {
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 0;
    li {
      margin: 0 10px;
    }
  }
}

.skills {
  margin: 2rem 0;
  margin-bottom: 0 !important;
  display: flex;
  justify-content: space-around;
}

.skills h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.skill-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.skill-value {
  font-size: 1.2rem;
}

#round {
  position: absolute;
  top: 0;
  left: 20px;
}

#life {
  position: absolute;
  top: 10px;
  right: 20px;
}

#textAventure,
#target,
#result,
#winlose,
#dice_roll {
  text-align: center;
  font-size: 30px;
}

.card {
  p {
    text-align: center;
  }
}
